/* Nav */

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar {
    position: relative;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #dcb14a;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

.navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link {
    font-size: 0.95rem;
    color: rgba(17, 17, 17, 0.99);
    font-weight: 800;
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .nav-link.active {
    color: #dcb14a;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
    color: #dcb14a;
}

.navbar>.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.nav-item {
    display: inline-block;
}